
footer {
    background: #232943;
    padding: 30px 0;

   
}
footer img {
    width: 30px;
    height: 30px;
    background: white;
    padding: 5px;
    border-radius: 30px;
}


footer .container {
    max-width: 1000px;
    width: 80%;
    margin: auto;
}

footer .container .social {
    display: flex;
    gap: 15px;
}


footer .icon {
    width: 30px;
    height: 30px;
    background: white;
    /* padding: 5px; */
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
} 

footer .icon:hover {
    background: #678d81;
    box-shadow: 0 0 5px white;
    transform: scale(1.1);
}

footer .icon img {
    width: 17px;
    height: 17px;
}

.copyrights {
    margin-top: 10px;
    color: white;
}